USE [master]
GO
/****** Object:  Database [gtfwdb]    Script Date: 19/02/2018 01:17:21 ******/
CREATE DATABASE [gtfwdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gtfwdb', FILENAME = N'c:\databases\gtfwdb\gtfwdb.mdf' , SIZE = 3584KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'gtfwdb_log', FILENAME = N'c:\databases\gtfwdb\gtfwdb_log.ldf' , SIZE = 112384KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gtfwdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gtfwdb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 19/02/2018 01:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 19/02/2018 01:17:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cliente](
	[cod_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nome_cliente] [varchar](100) NULL,
	[num_cpf] [varchar](14) NULL,
	[dat_nascimento] [date] NOT NULL,
	[peso] [real] NOT NULL,
	[Estado] [varchar](2) NULL,
 CONSTRAINT [PK_dbo.cliente] PRIMARY KEY CLUSTERED 
(
	[cod_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_num_cpf]    Script Date: 19/02/2018 01:17:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_num_cpf] ON [dbo].[cliente]
(
	[num_cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
